footer.row.py-0.px-sm-0.px-2
  .row.border-top.align-items-center.py-2.card-no-bg
    .col-md-5.col-4.offset-1
      p.text-monospace.m-0
        i.far.fa-copyright
        span#year
        |  By Pratik Karki
    .col-xl-3.col-lg-4.col-md-5.col-sm-5.col-6.ms-auto
      blockquote.blockquote.m-0
        p.text-secondary.ps-4
          small Powered By:
        .blockquote-footer
          cite(title='Source Title')
            small Spyfu, Inc.
        .blockquote-footer
          cite(title='Source Title')
            small Alexa Internet, Inc.