footer.footer-pad.navbar.navbar-expand-sm.bg-light.navbar-light.top-border
  .container 
    .d-flex.flex-row.justify-content-between
      .flex-column.p-2.align-self-center
        p.text-monospace.m-0
          i.far.fa-copyright
          span#year  2020  
          .
            By #{user}
