footer.row.py-0.px-sm-0.ps-2.box-shadow
  .row.border-top.align-items-center.dark-bg.p-0
    .col-md-5.col-4.offset-1
      p.text-monospace.m-0.text-light(style='font-size: 14px !important')
        i.fal.fa-copyright
        span#year
        |  By Pratik Karki
    .col-xl-3.col-lg-4.col-md-5.col-sm-5.col-6.ms-auto
      blockquote.blockquote.m-0(style='font-size: 16px !important')
        p.text-secondary.ps-4.text-light
          small Powered By:
        .blockquote-footer.text-light
          cite(title='Source Title')
            small Spyfu, Inc.
        .blockquote-footer.text-light
          cite(title='Source Title')
            small Alexa Internet, Inc.