footer#footerSection.footer-pad.navbar.navbar-expand-sm.dark-bg.top-border.fixed-to-bottom(style="color: rgba(255,255,255,.55); font-family: 'Montserrat', sans-serif;")
  .container 
    .d-flex.flex-row.justify-content-between
      .flex-column.p-2.align-self-center
        p.text-monospace.m-0.footer-text
          i.far.fa-copyright
          span#year  
          |  By Pratik Karki
