header 
  nav.navbar.navbar-expand-sm.dark-bg.navbar-dark.fixed-top.bottom-border
    .container 
      a.navbar-brand(href='/') Competitor Analysis 
      button.navbar-toggler(data-toggle='collapse' data-target="#nav_id")
        span.navbar-toggler-icon

      .collapse.navbar-collapse#nav_id 
        ul.navbar-nav.ms-auto.align-items-end
          li.nav-item.me-4: a.nav-link(href='/') Home
          li.nav-item.me-4: a.nav-link(href='/login') Login
          a.btn.btn-outline-light(href='/register')
            i.fal.fa-address-book.pe-2 
            .
              Register
