header.nav.navbar-expand-md.navbar-light
  button.navbar-toggler.ms-auto.mb-2.bg-light(type='button' data-toggle='collapse' data-target='#dash_nav')
    span.navbar-toggler-icon
  .navbar-collapse#dash_nav.collapse
    .container-fluid
      .row
        // sidebar
        .col-xl-2.col-md-3.sidebar.fixed-to-top
          a.navbar-brand.text-light.text-center.d-block.mx-auto.py-3.mb-4.bottom-border(href='overview.html')
            | Competitor&apos;s
            br
            | Analysis
          .text-center
            img.rounded-circle(src='/images/dummyUser.jpg' height='80px' width='80px' alt='User Image')
            p.text-light.pt-2(href='#') @UserName
          .text-center.bottom-border
            .pb-3
              button.btn.btn-sm.btn-outline-light(onclick="window.location.href='profile.html'")
                i.text-danger.fal.fa-user.pe-1
                | View Profile
            .pb-3
              button.btn.btn-sm.btn-outline-light(data-toggle='modal' data-target='#logout_modal')
                i.text-danger.fal.fa-sign-out-alt.pe-1
                | Logout
          ul.navbar-nav.flex-column.mt-3
            li.nav-item.text-center
              a.nav-link.current.text-light.p-3.mb-1(href='/overview') Overview
            li.nav-item.text-center
              a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/compare_metrics') Compare Metrics
            li.nav-item.text-center
              a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/compare_keywords') Compare Keyword
            li.nav-item.text-center
              a.nav-link.sidebar-link.text-light.p-3.mb-1(href='#') Notes
            li.nav-item.text-center
              a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/feedback') Feedback
        // end of sidebar
        // top-nav
        nav.col-xl-10.col-md-9.ms-auto.bg-white.fixed-to-top.top-navbar.border-bottom.py-4
          // py-4
          .row.align-items-center
            .col.text-center
              h4.text-dark.text-uppercase.mb-0 Overview
        // end of top-nav
