extends base_1

block content 
  section.home-pad 
    .container 
      .row 
        .col-lg-7.d-block.py-4.py-md-5.pe-4.pe-md-5.ps-4.ps-sm-3
          h1.display-4 Welcome to 
            strong Competitor Analysis Dashboard
          p.text-monospace.text-muted.my-3 Designed for your Online Competition.
          hr
          p.lead.my-4 Where you can analyze and compare your competitor's metrics, perform research on keywords and find valuable insights, all in one place.
          div 
            a.btn.btn-lg.btn-outline-dark(href='/register')
              i.far.fa-rocket.me-2
              .
                Get Started
        
        .col-lg-5.px-0.pt-3.pt-sm-0.pb-5
          .mt-4.mb-5
            img.card-border(src='/images/undraw_datatrends.png' height='auto' width='100%' alt='Home Dashboard Image')
