extends base_2 


block header 
  header.nav.navbar-expand-md.navbar-light
    button.navbar-toggler.ms-auto.mb-2.bg-light(type='button' data-toggle='collapse' data-target='#dash_nav')
      span.navbar-toggler-icon
    #dash_nav.collapse.navbar-collapse
      .container-fluid
        .row
          // sidebar
          .col-xl-2.col-md-3.sidebar.fixed-to-top
            a.navbar-brand.text-light.text-center.d-block.mx-auto.py-3.mb-4.bottom-border(href='overview.html')
              | Competitor&apos;s
              br
              | Analysis
            .text-center
              img.rounded-circle(src='./images/users/defaultUser.jpg' height='80px' width='80px' alt='User Image')
              p.text-light.pt-2(href='#') @UserName
            .text-center.bottom-border
              .pb-3
                button.btn.btn-sm.btn-outline-light
                  i.text-danger.fal.fa-user.pe-1
                  | View Profile
              .pb-3
                button.btn.btn-sm.btn-outline-light
                  i.text-danger.fal.fa-sign-out-alt.pe-1
                  | Logout
            ul.navbar-nav.flex-column.mt-3
              // <i class="fas fa-home fa-lg pe-2 text-light"></i>
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='#') Overview
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='#') Compare Metrics
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='#') Compare Keyword
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='#') Feedback
          // end of sidebar
          // top-nav
          nav.col-xl-10.col-md-9.ms-auto.fixed-to-top.top-navbar.border-bottom.py-3.dark-bg
            // py-4
            .row.align-items-center
              .col.text-center
                h4.text-light.text-uppercase.mb-0 Loading 
          // end of top-nav


block content 
  section.overview-pad.container-fluid
    .card
      .row
        .col-xl-10.col-md-9.ms-auto.ps-0
          .card-body.card-bg.py-0.ps-2.pe-0
            .tab-content.p-4.custom-border(style='min-height: 37rem;')
              .tab-pane.fade.show.active
                // first row of card body
                .row.my-3.justify-content-around
                  .col-12.p-2
                    .error(style='padding-top: 75px; margin-bottom: 40px')
                      .error__title
                        h2.heading-secondary.heading-secondary--error
                          | Please wait while we gather information for you...
                      .error__msg This won&apos;t take long and it only happens once.
                // end of first row of card body
          // end of card-body
          // footer
          include _footer_2
          // end of footer
        // end of col-xl-10 col-md-9 ms-auto
      // end of row
    // end of card
