extends base_1

block content
  section.home-pad
    .container
      .row
        .col-12.px-3.d-flex.justify-content-center
          .card.card-form.p-3.card-border
            .card-body.px-2.pb-0
              .text-center
                h4.display-5.mb-3(style='font-size: 32px;') Reset Password
                p.m-0 Enter your new password below.
              form.form.form--reset.p-4.pb-3
                .form-group.pt-1
                  label(for='password') New Password *
                  .input-group
                    .input-group-prepend
                      i.input-group-text.fas.fa-key
                    input.form-control(type='password' id='password' placeholder='New Password' required)
                    button.input-group-text.pwToggle
                      i.far.fa-eye-slash
                .form-group.pt-4
                  label(for='confirmPassword') Confirm Password *
                  .input-group
                    .input-group-prepend
                      i.input-group-text.fas.fa-key
                    input.form-control(type='password' id='confirmPassword' placeholder='Confirm Password' required)
                    button.input-group-text.pwToggleConfirm
                      i.far.fa-eye-slash
                .pt-4.text-center
                  button.btn.btn-dark Submit
