extends base_1

block content
  section.home-pad
    .container
      .row
        .col-12.px-3.d-flex.justify-content-center
          .card.card-form.p-3.card-border
            .card-body.px-2.pb-0
              .text-center
                h4.display-5.mb-3(style='font-size: 32px;') Forgot Password
                p.m-0 Enter your email and we&apos;ll send you a link to reset your password.
              form.form.form--forgot.p-4.pb-3
                .form-group
                  label(for='email') Email *
                  .input-group
                    .input-group-prepend
                      i.input-group-text.fas.fa-at
                    input.form-control(type='email' id='forgotEmail' placeholder='Email Address' required)
                .pt-4.text-center
                  button#btnForgotSubmit.btn.btn-dark Submit