html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	/* font-family: 'Montserrat', sans-serif; */
	/* background: rgb(221, 221, 221); */
	background: rgb(243, 243, 243);
	color: #333;
	padding-right: 0px !important;
}

.pad {
	padding-top: 9rem;
	padding-left: 0;
	padding-right: 0;
}

.home-pad {
	padding-top: 10rem;
	padding-left: 0;
	padding-right: 0;
}

.overview-pad {
	padding-top: 5.8rem;
	padding-left: 0;
	padding-right: 0;
}

.footer-pad {
	margin-top: 5rem;
}

/* navbar */
.fixed-to-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.fixed-to-bottom {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.sidebar {
	height: 100vh; /* 100vh means 100% of viewport */
	background: linear-gradient(rgba(11, 13, 14, 0.7), rgba(12, 14, 15, 0.9)), url(../images/navBackground.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 5px, 7px, 25px, #999;
}

.dark-bg {
	background-color: #2a2d30 !important;
	/* #333943f5 */
}

.bottom-border {
	border-bottom: 1px groove #c5c5c5;
}

.top-border {
	border-top: 1px groove #c5c5c5;
}

.vertical-border {
	border-right: 1px solid #dee2e6;
}

.vertical-border-dark {
	border-right: 1px solid #6c757d;
}

.card-border {
	border-radius: 5px;
	border: 0.5px solid #c5c5c5;
	background-color: #9da6af;
}

.sidebar-link {
	transition: all 0.3s;
}

.sidebar-link:hover {
	background-color: rgb(80, 80, 80);
	border-radius: 5px;
	/* color: #333; */
}

#nav-tab a {
	color: black;
	border-color: rgb(225, 225, 252);
	/* border-bottom: 0; */
}

#nav-tab a.active {
	border-bottom-color: transparent;
	background-color: rgb(243, 243, 243) !important;
}

.bg-custom {
	background-color: #cecece !important;
}

.tab-content {
	/* border: solid 1px blue; */
	border-top: 0;
	background-color: rgb(243, 243, 243) !important;
	/* #f4f6f9, #eff0f3 */
}

.custom-hover:hover {
	background-color: #ececec;
	color: rgb(24, 24, 24);
}
.custom-hoverTwo:hover {
	background-color: #8b8b8b;
}

.custom-border {
	border: 1px solid rgb(225, 225, 252);
	/* border-top-right-radius: 0.25rem; */
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-top: 0;
}

.current {
	background-color: rgb(142 76 76);
	border-radius: 5px;
	box-shadow: 2px 5px 10px #111;
	transition: all 0.3s;
}

.current:hover {
	border-radius: 7px;
	box-shadow: 2px 5px 20px #111;
	transform: translateY(-1px);
}

@media (max-width: 768px) {
	.sidebar {
		position: static;
		height: auto;
	}

	.top-navbar {
		position: static;
	}
}

/* end of navbar */

/* graph */
.graph-box-one {
	border-left: 5px solid rgba(255, 99, 132, 1);
}
.graph-box-two {
	border-left: 5px solid rgba(54, 162, 235, 1);
}
.graph-box-three {
	border-left: 5px solid rgba(255, 206, 86, 1);
}
.graph-box-four {
	border-left: 5px solid rgba(153, 102, 255, 1);
}
.graph-box-five {
	border-left: 5px solid rgba(75, 192, 192, 1);
}
.graph-box-six {
	border-left: 5px solid rgba(128, 128, 128, 1);
}

/* end of graph */

/* cards */
.card-bg {
	background: #f4f6f9;
}

.card-no-bg {
	background: #fff;
}

.card-form {
	width: 27rem;
}

.form-text {
	font-weight: lighter;
}

.card-common {
	box-shadow: 1px 2px 5px #999;
	transition: all 0.3s;
	cursor: default;
}
.card-common:hover {
	box-shadow: 2px 3px 10px #999;
	/* transform: translateY(-1px); */
	/* icons flickering bug */
}

.card-common-sm {
	transition: all 0.3s;
	cursor: default;
}
.card-common-sm:hover {
	box-shadow: 2px 3px 5px #999;
}

.cross:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.profile-row {
	border: 1px solid #c5c5c5;
	border-radius: 0.25rem;
}
/* end of cards */

/* table */
.align-lt {
	text-align: left;
	/* padding-left: 3rem; */
}

.td-pad {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.thead-pad {
	padding-top: 40.5px;
}

@media (max-width: 1066px) {
	.thead-pad {
		padding-top: 65px;
	}
}

/* .tr-pad {
	line-height: 50px;
} */

/* end of table */

/* feedback */
.select-btn {
	color: #ffffff !important;
	background-color: #8b8b8b !important;
	border-color: #6c757d !important;
}
.stars {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.star-widget input {
	display: none;
}
.star-widget label {
	color: rgb(189, 189, 189);
	padding: 7px;
	transition: all 0.3s ease;
	float: right;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
	color: #ffdd44;
	cursor: pointer;
	transform: scale(1.06);
}
input:checked ~ label {
	color: #ffdd44;
}
/* end of feedback */

/* .form__input {
	display: block;
	font-family: inherit;
	color: inherit;
	border: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form__input:focus {
	outline: none;
	border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
	border-bottom: 3px solid #ff7730;
} */
.alert {
	position: fixed;
	/* top: 0; */
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 9999;
	color: #fff;
	font-size: 1.1rem;
	font-weight: 400;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0.7rem 2rem;
	-webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
	background-color: #009485;
	/* #20bf6b */
}
.alert--error {
	background-color: #c02727;
	/*  */
}

.heading-secondary {
	font-weight: 600;
	letter-spacing: 0.1rem;
	line-height: 1.3;
}
.heading-secondary--error {
	/* background-image: linear-gradient(to right, #e90f0b, #555555); */
	color: #555555;
	font-size: 2rem;
}
.error {
	padding-top: 19.5rem;
	margin-bottom: 10rem;
	max-width: 80rem;
	text-align: center;
}
.error__title {
	display: flex;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin-bottom: 1rem;
}
.error__msg {
	font-size: 1.3rem;
	font-weight: 500;
	max-width: 50rem;
	margin: 0 auto;
	color: #616161;
}

.table-sortable th.tablesorter-header {
	cursor: pointer;
	outline: none;
}
.table-sortable th.tablesorter-headerAsc,
.table-sortable th.tablesorter-headerDesc {
	background-color: rgba(0, 0, 0, 0.1);
}
.table-sortable th.tablesorter-headerAsc::after,
.table-sortable th.tablesorter-headerDesc::after {
	margin-left: 10px;
}
.table-sortable th.tablesorter-headerAsc::after {
	content: '\25b2';
}
.table-sortable th.tablesorter-headerDesc::after {
	content: '\25bc';
}
.tablesorter-header-inner {
	display: inline !important;
}
